[Unit]
Description=All of ROS running on the background
After=multi-user.target

[Service]
Type=idle
User=nvidia
ExecStart=/bin/bash /home/nvidia/Sumitomo_L5G/autostart_scripts/start_webrtc_local_data_server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
